@use 'variables';

:root {
  --main-color: #f7f1df;
  --second-color: #2d2d2d;
  --hover-second-color: #b9b9b9;
}

#root {
  display: flex;
  flex-direction: column;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
    color: var(--second-color);
    text-decoration: none;

    &:hover {
      color: var(--hover-second-color);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--second-color);
  background-color: var(--main-color);
}

main {
  width: 100%;
  min-height: variables.$main-height;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
