@use '../base/variables';

.header {
  width: 100%;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: variables.$header-height;
  }

  &_img {
    height: 100%;
  }
}
