.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;

  &_search {
    justify-content: center;
    width: 100%;
  }

  &_wrapper {
    width: 100%;
  }
}
